.topbar {
    background: #5f00d4;
    color: #fff;
    font-size: 14px;
    padding: 6px 0;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chap_qism a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: 500;
}

.chap_qism a:hover {
    text-decoration: underline;
}

.ong_qism {
    display: flex;
    align-items: center;
    gap: 12px;
}

.til_tanlash {
    background: #222;
    color: #fff;
    border: 1px solid #444;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.kirish {
    background: #ffcc00;
    color: #683838;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s;
}

.kirish:hover {
    background: #ff9900;
}

.profil a {
    color: #fff;
}



@media (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .ong_qism {
        gap: 8px;
    }
}